/* Set variables to alter color */
:root {
  --default-marker-color: #3786c2;
  --highlighted-marker-color: #213d75;
  --highlighted-row-color: #213d75;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  background-color: #f5f5f5;
  align-self: stretch;
  padding: 5px;
}

.sidebar h1 {
  font-size: 24px;
  color: var(--default-marker-color);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin: 0 0 0.67em 0;
  box-sizing: border-box;
  text-align: center;
}

.mapchart {
  background: #fff;
  cursor: grab;
}

.mapchart:active,
.mapchart:focus-within {
  cursor: grabbing;
}

.controls {
  margin-top: 1.25rem;
  position: fixed;
  display: flex;
  justify-content: center;
}

.controls button {
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  border: 0;
  background: var(--default-marker-color);
}

.controls button:hover {
  background: var(--highlighted-marker-color);
  cursor: default;
}

.controls > button:first-child {
  margin-right: 0.25rem;
}

.rsm-marker .highlighted {
  fill: var(--highlighted-marker-color);
  transform-origin: 2% 4%;
  animation: grow-shrink 2.5s infinite;
}

.rsm-marker .unhighlighted {
  fill: var(--default-marker-color);
}

.rsm-marker:hover,
.rsm-marker:active {
  cursor: default;
}

.invisible {
  visibility: hidden;
}

/* Outline width can't change upon zoom, so hide it. */
.rsm-geography,
.search input,
.controls button {
  outline: 0;
}

.rsm-geography.border {
  fill: none;
}

.filter-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-options > form {
  display: flex;
  margin-right: 5px;
  justify-content: center;
}

.filter-options > form:last-child {
  margin-right: 0;
}

.search {
  flex-grow: 1;
}

.search input {
  display: block;
  color: #555555;
  background-image: none;
  border: 1px solid #ddd;
  font-size: 12px;
  padding: 5px 10px;
  line-height: 1.5;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.search input[type="text"] {
  background: #fff;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  flex-grow: 1;
}

.search input[type="text"]:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.search input[type="button"] {
  background: #ddd;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: default;
}

.search input[type="button"]:hover {
  background: #ccc;
  border: 1px solid #ccc;
}

#waypoints,
#waypoint-details {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#waypoints {
  margin-bottom: 20px;
}

#waypoints .highlighted {
  background: var(--highlighted-row-color) !important;
  color: #fff;
}

#waypoints thead th {
  box-shadow: 0 2px 0 #ccc;
  position: sticky;
  top: 0;
  text-transform: capitalize;
}

#waypoints tbody td,
#waypoint-details td {
  padding: 3px 10px;
  border-top: none;
}

#waypoints tr {
  transition: color ease-in-out 0.15s;
}

#waypoints tr,
.search input[type="button"],
.controls button {
  transition: background-color ease-in-out 0.15s;
}

#waypoints-head th,
#waypoint-details th {
  vertical-align: top;
  line-height: 1.1;
  padding: 8px;
  text-align: left;
  background: #fff;
}

#waypoints tr:nth-child(odd),
#waypoint-details tr:nth-child(odd) td {
  background: #f9f9f9;
}

#waypoints tr:nth-child(even),
#waypoint-details tr:nth-child(even) td {
  background: #fff;
}

#waypoint-details thead {
  border-bottom: 1px solid #ccc;
}

#waypoint-details tr {
  display: flex;
}

#waypoint-details th {
  flex: 2;
}

#waypoint-details td {
  flex-grow: 1;
  flex: 3;
}

.tableFixHead {
  overflow-y: auto;
  max-height: 25em;
}

.tableFixHead p {
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
