body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

#wrapper {
  display: flex;
  flex-direction: row;
}

.left {
  background-color: #f9f9f9;
  align-self: stretch;
  width: 30%;
}

.left h1 {
  font-size: 24px;
  color: #3786c2;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin: 0.67em 0;
  box-sizing: border-box;
  margin-left: 20px;
}

.mapchart {
  width: 70%;
  background: #fff;
}

.controls-wrapper {
  width: 75%;
  position: fixed;
}

.controls {
  display: flex;
  margin: 1.25rem 0 0 0;
  justify-content: center;
}

.controls > button {
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  border: 0;
}

.controls > button:first-child {
  margin-right: 0.25rem;
}

.tableFixHead {
  overflow-y: auto;
  max-height: 18em;
}
.waypoints thead th {
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
}
.tableFixHead:first-of-type {
  margin-bottom: 0.67em;
}

/* The thick country border that gets displayed when clicking on a country is 
a bit annoying to look at. It would be nice to have its border scale by zoom, 
just like the rest of the svg elements. I've tried to modify the width via 
CSS just to see how the border width works, but it looks like setting the 
width to any nonnegative number still displays the border with the same 
visible width. e.g. 500px or 5px or 1px still shows the same thick border. But 
changing it to 0px makes the border totally disappear, so I know the 
outline-width property still works! How confusing. */
.rsm-geography:focus {
  /* outline: -webkit-focus-ring-color auto 5px; */
  /* outline-color: -webkit-focus-ring-color; */
  /* outline-style: auto; */
  outline-width: 0px;
}

.filter-options {
  float: left;
  margin-bottom: 1em;
  margin-left: 20px;
}

.search {
  float: left;
}

.search input[type="text"] {
  border: none;
  float: left;
  font-size: 17px;
  margin-top: 8px;
  min-width: 250px;
  padding: 6px;
}

.search input[type="button"] {
  border: none;
  cursor: pointer;
  background: #ddd;
  float: left;
  font-size: 17px;
  margin-top: 8px;
  margin-right: 8px;
  padding: 6px;
}

.search button:hover {
  background: #ccc;
}

.visibility {
  float: left;
  margin-top: 8px;
}
